*, *::before,*::after{
 padding:0;
 margin: 0;
 background: hsl(222, 26%, 31%);
 color: whitesmoke;
 font-family: 'Spartan', sans-serif;
 box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}
/* .gridContainer{
    width: auto;
    height: 95vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows:15% 70% 15% ;
    border: 2px solid red;
} */



/* Calculator */
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
   grid-template-columns: repeat(4,100px);
   grid-template-rows: minmax(120px,auto) repeat(5,100px);
    min-height: 100vh;
    
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);

}

.calculator-grid > button:hover{
    background-color: rgba(255,255,255,.9);
}


.output {
    background-color: rgba(0,0,0,.75);
    grid-column: 1/-1;
    font-size: 32px;
    border: 2px solid red;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255,255,255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}

/* .keys {
    display:grid;
    background:  hsl(223, 31%, 20%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    /* grid-column-gap:10px;
    grid-row-gap: 10px; */
    /* grid-gap: 10px; */
    /* align-content:center;
    justify-content: center; */
    /* place-content:center space-evenly; */
    /* padding:20px; */
    
/* } */ 




/* .button {
    background: hsl(30, 25%, 89%);
    color:hsl(221, 14%, 31%);
    font-size: 25px;
    /* margin:20px; */
    /* padding-top: 5px; */

/* }  */

#del {
    background: hsl(225, 21%, 49%) ;
    color:  white;
    font-size: 15px;
}

#reset {
    background: hsl(225, 21%, 49%) ;
    color:  hsl(0, 0, 100%)!important;
    font-size: 15px;
    grid-column-start:1 ;
    grid-column-end:3 ;
    grid-row-start: 5;
    grid-row-end: 6;
}

#equals {
    background: hsl(6, 63%, 50%) ;
    color:  hsl(0, 0, 100%);
    font-size: 25px;
    grid-column-start:3 ;
    grid-column-end:5  ;
    grid-row-start: 5;
    grid-row-end: 6;
}


/* end of calculator */






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }